In [73]:
import pandas as pd
from datetime import datetime


def save_excel_with_user_confirmation(df, file_path):
    # 함수 내부에서 사용자 입력 받기
    user_input = input("변경 내용을 Excel 파일에 저장하시겠습니까? (예/아니오): ")
    
    # 사용자 응답에 따라 조건 분기
    if user_input.lower() == '예':
        # 사용자가 '예'라고 대답한 경우, 파일 저장
        df.to_excel(file_path, sheet_name='매출', index=False)
        print("파일이 저장되었습니다.")
    elif user_input.lower() == '아니오':
        # 사용자가 '아니오'라고 대답한 경우, 저장하지 않음
        print("파일 저장이 취소되었습니다.")
    else:
        # 사용자가 '예' 또는 '아니오' 이외의 응답을 한 경우
        print("잘못된 입력입니다. 파일 저장이 취소되었습니다.")

In [77]:
# 엑셀 파일 경로
file_path = '/Users/idaejong/Library/CloudStorage/OneDrive-개인/약국결산폴더/이번달 결산 복사본.xlsx'
# 판다스를 이용해 엑셀 파일 불러오기
df = pd.read_excel(file_path, sheet_name='매출')
# 인덱싱
df.rename(columns={
    'Unnamed: 2': '날짜',
    'Unnamed: 5': '요일',
    'Unnamed: 6': '객수',
    'Unnamed: 7': '매출',
    'Unnamed: 8': '현금',
    'Unnamed: 10': '합계'
}, inplace=True)

#2열에 날짜값을 표시 하기
df['날짜'] = pd.to_datetime(df['날짜'], format='%Y-%m-%d', errors='coerce')


# 변경 후 다시 선택된 열의 마지막 10행을 table에 할당
table = df[['날짜', '요일', '객수', '매출', '현금', '합계']].tail(10)

# 변경된 table 출력
table

            날짜 요일   객수   매출   현금    합계
575 2024-01-31  수   90   81    1  2899
576 2024-02-01  목   64   60    4    60
577 2024-02-02  금  101  103    1   163
578 2024-02-03  토  122  107    2   270
579 2024-02-04  일  127  141    3   411
580 2024-02-05  월   93   86    4   497
581 2024-02-06  화   91  107   13   604
582 2024-02-07  수   78   88    1   692
583 2024-02-07  수  NaN  NaN  NaN   692
584 2024-02-07  수   90  100    5   692

In [82]:

# 사용자 입력 받기
inp1 = input("객수: ")
inp2 = input("매출: ")
inp3 = input("현금: ")
inp4 = datetime.now().strftime('%Y-%m-%d')
# 마지막 행 인덱스 찾기
last_row_index = df.index[-1]

# 새로운 행에 데이터 할당
df.loc[last_row_index + 1] = df.loc[last_row_index].values  # 기존 마지막 행의 값을 새로운 행에 복사
df.at[last_row_index + 1, '객수'] = inp1
df.at[last_row_index + 1, '매출'] = inp2
df.at[last_row_index + 1, '현금'] = inp3
df.at[last_row_index + 1, '날짜'] = inp4

table = df[['날짜', '요일', '객수', '매출', '현금', '합계']].tail(10)

table 

# save_excel_with_user_confirmation(df, file_path)

            날짜 요일   객수   매출   현금   합계
577 2024-02-02  금  101  103    1  163
578 2024-02-03  토  122  107    2  270
579 2024-02-04  일  127  141    3  411
580 2024-02-05  월   93   86    4  497
581 2024-02-06  화   91  107   13  604
582 2024-02-07  수   78   88    1  692
583 2024-02-07  수  NaN  NaN  NaN  692
584 2024-02-07  수   90  100    5  692
585 2024-02-08  수   10   10   10  692
586 2024-02-08  수   10   10   10  692

In [81]:
#마지막줄 삭제 
del_selected_columns = table.drop(last_row_index + 1, axis=0)
del_selected_columns
save_excel_with_user_confirmation(df, file_path)

잘못된 입력입니다. 파일 저장이 취소되었습니다.